*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#12061f;
    color:white;
    font-family:Poppins,sans-serif;
}

header{
    position:fixed;
    width:100%;
    background:#1a0d29;
}

nav{
    width:85%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
}

nav ul{
    display:flex;
    list-style:none;
}

nav li{
    margin-left:35px;
}

nav a{
    color:white;
    text-decoration:none;
}

.hero{
    width:85%;
    margin:auto;
    min-height:100vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.hero img{
    width:300px;
    border-radius:50%;
    box-shadow:0 0 80px #8a2be2;
}

.right h1{
    font-size:60px;
    margin:20px 0;
}

.btn{
    display:inline-block;
    margin-top:25px;
    background:#8a2be2;
    color:white;
    padding:15px 35px;
    text-decoration:none;
    border-radius:30px;
}

section{
    width:85%;
    margin:100px auto;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
}

.card{
    background:#221132;
    padding:20px;
    border-radius:15px;
}

.card img{
    width:100%;
    border-radius:10px;
}
